<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%=user%>'s' Dashboard</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/public/css/dashboard.css">

</head>
<body>
    <div class="title">
        <label><%=user%>'s Dashboard</label>
    </div>

    <div class="mainContainer">
        <% if (!account1_id == 0) { %>
            <div class="accountCard" id="account1_card">
                <label style="font-size: 30px;">Account 1</label>
                <label class="id" id="account1_id">ID: <%=account1_id %></label>
                <label class="balance">£<%=account1_balance %></label>
                <a class="links" style="font-size: 15px;" href="/login">Take out Loan</a>
            </div>
        <% } %>

        <% if (!account2_id == 0) { %>
            <div class="accountCard" id="account2_card">
                <label style="font-size: 30px;">Account 2</label>
                <label class="id" id="account1_id">ID: <%=account2_id %></label>
                <label class="balance">£<%=account2_balance %></label>
                <a class="links" style="font-size: 15px;" href="/login">Take out Loan</a>
            </div>
        <% } %>

        <% if (!account3_id == 0) { %>
            <div class="accountCard" id="account3_card">
                <label style="font-size: 30px;">Account 3</label>
                <label class="id" id="account1_id">ID: <%=account3_id %></label>
                <label class="balance">£<%=account3_balance %></label>
                <a class="links" style="font-size: 15px;" href="/login">Take out Loan</a>
            </div>
        <% } %>

        <% if (!account4_id == 0) { %>
            <div class="accountCard" id="account4_card">
                <label style="font-size: 30px;">Account 4</label>
                <label class="id" id="account1_id">ID: <%=account4_id %></label>
                <label class="balance">£<%=account4_balance %></label>
                <a class="links" style="font-size: 15px;" href="/dashboard/user/loans">Take out Loan</a>
            </div>
        <% } %>
        
        <% if (!(amountOfAccounts > 4)) { %>
            <div class="accountCard" id="account4_card">
                <label style="font-size: 30px;">Open New account</label>
                <label class="id" id="account1_id"></label>
                <label class="balance"></label>
                <button>Take out loan</button>
            </div>
        <% } %>
    </div>

  <script src="/public/javascript/login.js"></script>
</body>
</html>